.pinguino {
    position: relative;
    width: 600px; 
    height: 700px; 
    margin: 0 auto; 
    background-color: #f0f0f0; 
    border: 1px solid white;
}

.cabeza {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 50%;
  margin: 100px auto;
}

.piel {
    position: absolute;
    width: 70px;
    height: 143px;
    background-color: #dddddc;
    border-radius: 50%;
    top: 191px;
    left: 205px;
}

.piel1 {
    position: absolute;
    width: 70px;
    height: 143px;
    background-color: #dddddc;
    border-radius: 50%;
    top: 191px;
    left: 325px;
}

.piel2 {
    position: absolute;
    width: 150px;
    height: 81px;
    background-color: #dddddc;
    border-radius: 50%;
    top: 271px;
    left: 225px;
}

.pico {
    position: absolute;
    width: 78px;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    top: 268px;
    left: 260px;
} 

.ojo1 {
    position: absolute;
    width: 30px;
    height: 45px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    top: 220px;
    left: 223px;
}

.ojo2  {
    position: absolute;
    width: 30px;
    height: 45px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    top: 220px;
    left: 343px;
}

.cuerpo {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 50%;
    margin: 100px auto;
    bottom: 100px;
}

.barriga {
    position: absolute;
    width: 210px;
    height: 190px;
    background-color: #dddddc;
    border-radius: 50%;
    border: 1px solid black;
    top: 410px;
    left: 195px;
}

.ala1 {
    position: absolute;
    width: 180px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    top: 355px;
    left: 95px;
    transform: rotate(-30deg);
}

.ala2 {
    position: absolute;
    width: 180px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    top: 355px;
    left: 325px;
    transform: rotate(30deg);
}

.pata1 {
    position: absolute;
    width: 100px;
    height: 55px;
    background-color: orangered;
    border-radius: 50%;
    border: 1px solid black;
    top: 570px;
    left: 160px;
}

.pata2 {
    position: absolute;
    width: 100px;
    height: 55px;
    background-color: orangered;
    border-radius: 50%;
    border: 1px solid black;
    top: 570px;
    left: 340px;
}